{% extends "main/header.html" %}

{% block content %}

<div class="col s12 m6">
    <div class="card hoverable">
        <div class="card-content">
            <span class="card-title"><strong>{{object.event_name.student_representative.organization.organization_abbrv}}:{{object.event_name.event_name}}</strong></span>
                <div class='card-action'>
                    <p>Revision: {{object.addendum_revision}}</p>
                    <p>Reason: {{object.addendum_revision}}</p>
                    <p>Time Created: {{object.time_stamp_created}}</p>
                </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title"><strong>Authorized Students</strong></span>
                {% for students in students %}
                {% if user.is_authenticated %}
                {% if user.get_username == students.organization.organization_abbrv %}
                <p style="font-size:95%">{{students.student_name}}:{{students.student_number}}</p>
                {% endif %}
                {% endif %}
                {% endfor %}

            </div>   
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <form class="col s12" method="post" action="/approve_addendum/">
            {% csrf_token %}
            <div class="container">
                <p>Representative:</p>
                <input name="representative" class="form-control" placeholder="rep must be a member of the organization" type="text">
                <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit" value="Create">Approve Addendum</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}